@charset "UTF-8";

.height {
  height: 500px;
}

.background1 {
  background: url(coffee-background.jpg);
}

.background2 {
  background: url(coffee-background.jpg) no-repeat;
}

.background3 {
  background: url(coffee-background.jpg) no-repeat center/cover;
}

.background4 {
  background: url(coffee-background.jpg) no-repeat center/contain;
}