@charset "UTF-8";
.background1{
  background-image: url(coffee-background.jpg);
  height: 500px;
}
.background2{
  background-image: url(coffee-background.jpg);
  height: 500px;
  background-repeat: no-repeat;
}
.background3{
  background-image: url(coffee-background.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.background4{
  background-image: url(coffee-background.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}